
.rem-pad{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.border{
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    margin-top: 40px;
    padding: 44px 61px 0px 44px;
}
.navs{

    background-color: #17a2b8;
}
.navs #demo-navbar .dropdown a{
    color: #fff;
}
.navs #demo-navbar .dropdown .dropdown-menu a{
    color:#000;
}
.studentadd{
    padding: 0px 82px 0px 82px;
}
.admin{

    width: 60%;
    margin-top: 130px;
}
.button{
    text-align: center;
}
.admin h3{
    font-size: 22px;
    color: #fd0101;
}